<div class="pages">
  <%- include('layouts/partials/messages') %>
  <div class="header-section">
    <h2>Pages</h2>
    <a href="/admin/pages/new" class="btn btn-primary"
      ><i class="fas fa-folder-plus mr-2"></i>Create New Page</a
    >
  </div>
  <table class="table mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">No Index</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if(typeof pages != 'undefined'){ %> <% pages.forEach(function(page){ %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.title %></td>
        <td><%= page.description %></td>
        <td><%= page.noIndex %></td>
        <td>
          <a
            href="/admin/pages/<%= page._id %>/edit"
            class="btn btn-success btn-small"
            >Edit</a
          >
        </td>
      </tr>
      <% }) %> <% } %>
    </tbody>
  </table>
</div>
